*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    touch-action: none;
}



table {
    border-collapse: collapse;
    border-spacing: 0;
}





ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    outline: none;
}









button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}




:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}




/*clearfix*/
.clearfix{
    *zoom:1;
}
.clearfix:after{
    content:'';display: block;clear:both;
}

